@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    margin: 0 calc(-1 * (100vw - 100%)) 0 0;
    overflow-x: hidden;
}

.active{
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}